<div class="container mt-4">

    <div class="row justify-content-center">
      
        <div class="col-10">

          <%= render 'shared/errors', obj: @item %>
          
          <%= form_with(model: @item, class: "shadow p-3 mb-3 bg-light rounded", local: true) do |form| %>
 
        
              <div class="col-0">
                <%= form.label :title, class: "col-2 col-form-label font-weight-bold" %>
              </div>
              <div class="form-group row">
                <div class="col-12">
                  <%= form.text_field :title, class: "form-control shadow rounded", placeholder: "Title" %>
                </div>
              </div>
              
              <div class="col-0">
                <%= form.label :description, class: "col-2 col-form-label font-weight-bold" %>
              </div>
              <div class="form-group row">
                <div class="col-12">
                  <%= form.text_area :description, rows: 5, class: "form-control shadow rounded", placeholder: "Enter a description" %>
                </div>
              </div>
              
              <div class="col-0">
                <%= form.label :price, class: "col-2 col-form-label font-weight-bold" %>
              </div>
              <div class="form-group row">
                <div class="col-12">
                  <%= form.text_field :price, class: "form-control shadow rounded", placeholder: "Enter the price" %>
                </div>
              </div>
              
              <div class="col-0">
                <%= form.label :image_url, class: "col-2 col-form-label font-weight-bold" %>
              </div>
              <div class="form-group row">
                <div class="col-12">
                  <%= form.text_field :image_url, class: "form-control shadow rounded", placeholder: "Enter an image URL" %>
                </div>
              </div>
              
              <div class="col-0">
                <%= form.label :category, class: "col-2 col-form-label font-weight-bold" %>
              </div>
              <div class="form-group row">
                <div class="col-12">
                  <%= form.text_field :category, class: "form-control shadow rounded", placeholder: "Enter a category" %>
                </div>
              </div>

            <div>
              <%= form.submit class: "btn btn-outline-primary mt-4" %>
            </div>
            <div>
              <%= link_to 'Back', items_path, class: "btn btn-outline-danger mt-4" %>
            </div>
          
          <% end %>
          
        </div>

        
      </div>
      
  </div>



  

