<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @review.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @review.updated_at %>
</p>

<% if logged_in? && (@article.user == current_user || current_user.admin?) %>
  <%= link_to 'Edit', edit_review_path(@review), class: "btn btn-outline-secondary" %> 
  <%= link_to "Delete", review_path(review), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<%= link_to 'Back', reviews_path, class: "btn btn-outline-secondary"%>
