<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "The Salvage Yard", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Stock</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "All Stock", items_path, class: "dropdown-item" %>
            <%= link_to "Categories", categories_path, class: "dropdown-item" %>
          </div>
      </li>
      
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Contact Us</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Mail Us", help_path, class: "dropdown-item" %>
            <%= link_to "Chat Now", chat_path, class: "dropdown-item" %>
          </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
          About Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Our Company", about_path, class: "dropdown-item" %>
          <%= link_to "Reviews", reviews_path, class: "dropdown-item" %>
        </div>
      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            <%= current_user.username %>'s Profile <%="[Admin]" if current_user.admin? %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "View Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Edit Profile", edit_user_path(current_user), class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log out", logout_path, class: "dropdown-item", method: :delete %>
            <div class="dropdown-divider"></div>
            <%= link_to "Delete Profile", user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Are you sure?"} %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', signup_path, class: "nav-link" %>
        </li>
      <% end %>
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "View Cart", "/cart",class: "nav-link" %>
        </li>
      <% end %>
      
      <% if logged_in? && current_user.admin? %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Admin Actions</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Add New Item", new_item_path, class: "dropdown-item" %>
              <%= link_to "Add New Category", new_category_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "View User List", users_path, class: "dropdown-item" %>
              <%= link_to "View Orders", orders_path, class: "dropdown-item" %>
            </div>
        </li>
      <% end %>

    </ul>
    <li class="form-inline my-2 my-lg-0">
      <%=render 'layouts/search'%>
    </li>
  </div>
</nav>